*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    font-size: 100%;
    line-height: 1rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
:root {
    --content-color: #242526;
    --border-color: #393A3B;
    --primary-hover: #3A3B3C;
    --gray-color: #555555;
    --white-color: #fff;
    --black-color: #333;
    --text-color: #000;
 }
 .like-icon {
    color: #046EE5;
    font-size: 18px;
}
.haha-icon {
    color: #e2ba5d;
    font-size: 18px;
    margin-left: -3px;
}
.love-icon {
    color: #F03659;
    font-size: 18px;
    margin-left: -3px;
}
.sad-icon {
    color: #e2c870;
    font-size: 18px;
    margin-left: -3px;
}
.blue-tick-icon {
    color: #2D88FF;
    background-color: #fff;
    margin-left: 4px;
    border-radius: 50px;
}

 .nav__list::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #242526;
}

.nav__list::-webkit-scrollbar
{
	width: 8px;
	background-color: #242526;
}

.nav__list::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}