body {
    background-color: #18191A;
}
.header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 16px;
    background-color: #242526;
    height: 56px;
    border-bottom: 0.1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between
}
.header__search-wrap {
    height: 100%;
    display: flex;
    align-items: center;
}
.header__menu-wrap {
    height: 100%;
}
.header__notify-wrap {
    height: 100%;
}
.header__logo-link {
    display: flex;
    align-items: center;
    height: 100%;
}
.header__logo-img {
    height: 40px;
}
.header__with-search {
    margin-left: 10px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    height: 40px;
    color: #ccc;
    background-color: #3A3B3C;
    border-radius: 20px;
}
.header__with-search-input {
    width: 180px;
    margin-left: 10px;
    color: #ccc;
    background-color: #3A3B3C;
    height: 90%;
    border: none;
    outline: none;
    font-size: 16px;
}
.header__menu-wrap {
    display: flex;
    align-items: center;
}
.header__menu-list {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
}
.header__menu-item {
    margin: 0 3px;
    height: 100%;
    border-radius: 10px;
}
.header__menu-item:hover,
.function__list-link:hover {
    background-color: #3A3B3C;
}
.header__menu-link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    text-decoration: none;
    color: #ccc;
    font-size: 24px;
}
.header__menu-link--active {
    color: #2D88FF;
    border-bottom: 3px solid #2D88FF;
}
.header__menu-link {
    position: relative;
}
.header__menu-link--has-notify {
    position: absolute;
    bottom: 60%;
    left: 55%;
    padding: 2px 6px;
    background-color: #F02849;
    border-radius: 18px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    font-weight: 500;
}
.header__notify-wrap {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header__notify-wrap > a {
    position: relative;
    height: 100%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.header__notify-wrap a:not(:first-child) {
    justify-content: center;
    font-size: 18px;
    width: 40px;
    border-radius: 50%;
    color: #ccc;
    background-color: #3A3B3C;
}
.header__notify-wrap > a:hover {
    background-color: #4E4F50;
}
.header__info {
    height: 90% !important;
    padding-right: 10px;
    text-decoration: none;
    background-color: #263951;
    border-radius: 50px;
}
.header__avatar {
    height: 100%;
    margin-left: 4px;
    display: flex;
    align-items: center;
}
.header__avatar-img {
    height: 80%;
    border-radius: 50%;
}
.header__avatar-name {
    color: #2D88FF;
    font-size: 14px;
    margin-left: 8px;
    font-weight: 500;
}

/* Content */
.container {
    padding: 0 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 700px;
}
.left-list {
    position: fixed;
    top: 56px;
    height: 100vh;
}
.function__list {
    padding: 14px 0 0 0;
    margin-left: -12px;
    width: 272px;
    height: 90vh;
    overflow-y: scroll; 
}
.function__list-link {
    padding-left: 4px;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 44px;
    border-radius: 10px;
    color: #E0E1E7;
    font-size: 14px;
    font-weight: 500;
}

.link-span {
    display: block;
    margin-left: 12px;
}
.link-img:first-child{
    border-radius: 50%;
    overflow: hidden;
}
.link-img {
    height: 28px;
}
.link-img img {
    height: 100%;
}
.center-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Story */
.story {
    margin-top: 80px;
    height: 198px;
    width: 598px;
}
.story-list {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.story-item {
    overflow: hidden;
    width: 111px;
    border-radius: 10px;
}
.create-story {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: #242526;
}
.create-story > div {
    padding: 15px;
    height: 33px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transform: translateY(-45%);
    right: 35%;
    background-color: #2E89FF;
    border-radius: 50%;
    border: 4px solid #242526;
}
.plus-icon {
    display: none;
}
.create-story > span {
    position: absolute;
    color: #fff;
    bottom: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}
.story-link {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}
.story-link:hover img{
    transform: scale(1.02);
    opacity: 0.9;
}
.story-link img {
    transition: transform ease-in-out 0.4s;
    width: 100%;
    border-radius: 10px;
}
.story-item:first-child {
    position: relative;
    overflow: hidden;
}
.story-item:first-child img {
    position: absolute;
    top: 18px;
    transform: scale(1.4);
}
.story-info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.story-avata {
    margin-top: 8px;
    margin-left: 8px;
    height: 46px;
}
.story-name {
    margin-bottom: 10px;
    margin-left: 8px;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}
.story-avata img {
    width: auto;
    height: 100%;
    border-radius: 50%;
    border: 5px solid #2E89FF;
}


/* News */
.news-list {
    margin-top: 20px;
    width: 500px;
    height: 400px;
}
.news-list > div,
.news-list > ul > li {
    border-radius: 10px;
    overflow: hidden;
    background-color:var(--content-color);
}
/* upload */
.upload {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 123px;
}
.upload__input-wrap {
    display: flex;
    align-items: center;
    height: 50%;
    border-bottom: 1px solid var(--border-color);
}
.upload__form-input {
    display: flex;
    align-items: center;
    flex: 9;
    height: 70%;
}
.upload__with-input {
    padding: 0 10px;
    width: 100%;
    height: 100%;
    background-color: #3A3B3C;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 16px;
    color: var(--white-color);
}
.upload__avata {
    flex: 1;
    display: block;
    height: 70%;
}
.upload__avata-img {
    height: 100%;
    border-radius: 50%;
}

.upload__status {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.upload__status > div {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.upload__status > div span {
    margin-left: 10px;
    color: #A7B3B8;
    font-size: 15px;
}
.upload__status > div i {
    font-size: 24px;
}
.upload__status > div:first-child i{
    color: #F02849;
}
.upload__status > div:nth-child(2) i{
    color: #45BD62;
}
.upload__status > div:last-child i{
    color: #F7B928;
}

/* Quick room */
.quick-room {
    margin-top: 20px;
    height: 58px;
    background-color: var(--content-color);
}

/* Upload list post */
.upload__list-post {
    margin-top: 18px;
}
.upload__list-post > li:not(:first-child) {
    margin-top: 16px;
} 
.upload__header {
    margin-top: 12px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    width: 100%;
}
.upload__header-info {
    display: flex;
    height: 90%;
}
.upload__list-avata {
    display: block;
    height: 100%;
}
.upload__avata-img {
    height: 100%;
}
.upload__header-info-details {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.upload__header-name {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}
.upload__header-time-wrap {
    color: #A8ABAF;
    margin-top: 4px;
    font-size: 14px;
}
.upload__header-time-wrap i {
    font-size: 12px;
}
.upload__header-about-link {
    display: block;
    padding: 8px;
    border-radius: 50%;
    color: #E4E6EB;
}
.upload__header-about-link:hover {
    background-color: var(--primary-hover);
}
.upload__title {
    margin-top: 4px;
    padding:  0 12px;
    color: #E4E6EB;
    font-size: 14px;
}
.upload__image {
    display: block;
    margin-top: 14px;
}
.upload__image-img {
    width: 100%;
}
.upload__number-react-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 14px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 14px;
    color: #A8ABAF;
    font-size: 15px;
    border-bottom: 1px solid var(--border-color);
}
.upload__react-icon-num span {
    margin-right: 4px;
}
.upload__react {
    padding: 2px 20px;
    display: flex;
}
.upload__react > a {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    margin: 0 4px;
    font-size: 16px;
    color: #A8ABAF;
    text-decoration: none;
    border-radius: 5px;
}
.upload__react > a:hover {
    background-color: var(--primary-hover);
}
.upload__react > a span {
    margin-left: 10px;
}


/* right list */
.right-list {
    position: fixed;
    width: 272px;
    width: 30%;
    top: 56px;
    height: 100vh;
    background-color: yellow;
}

